.cards-background img {
  height: 900px;
  width: 483px;
}
.cards-background-mobile {
  display: none;
}
.cards-front {
  top: 180px;
  left: 150px;
}
.cards-front-logo img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
}
.cards-front-number {
  position: absolute;
  bottom: 60px;
  left: 25px;
  color: #fff;
  font-size: 32px;
}
.cards-front-user {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 90%;
}
.cards-front-user-date {
  width: 5%;
  display: flex;
  justify-content: flex-end;
}
.cards-back {
  top: 480px;
  left: 250px;
}
.cards-back-cvc {
  position: absolute;
  color: #fff;
  right: 55px;
  top: 45.5%;
  font-size: 0.9em;
  letter-spacing: 3px;
  width: 8%;
}
.cards-front-back {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
.cards-front, .cards-back {
  position: absolute;
  max-width: 447px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .cards-background {
    display: none;
  }
  .cards-background-mobile {
    display: block;
    margin-bottom: 100px;
  }
  .cards-front {
    top: 284px;
    left: 10%;
    z-index: 1;
  }
  .cards-front-logo img {
    width: 10%;
  }
  .cards-front-number {
    bottom: 53px;
    font-size: 17px;
    letter-spacing: 2px;
  }
  .cards-front-user {
    bottom: 17px;
    width: 74%;
  }
  .cards-front-user-name {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .cards-front-user-date {
    width: 10%;
    font-size: 12px;
  }
  .cards-back {
    top: 24.2%;
    left: 35%;
  }
  .cards-back-cvc {
    right: 85px;
    top: 45%;
    font-size: 10px;
  }
  .cards-front-back {
    width: 85%;
  }
  .cards-front, .cards-back {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .cards-background-mobile img {
    height: 295px;
  }
  .cards-front {
    top: 200px;
  }
  .cards-front-number {
    left: 15px;
    font-size: 15px;
  }
  .cards-front-user {
    left: 15px;
  }
  .cards-back {
    top: 108px;
  }
  .cards-back-cvc {
    right: 77px;
  }
}
@media screen and (max-width: 430px) {
  .cards-background-mobile img {
    height: 225px;
  }
  .cards-front-back {
    width: 100%;
  }
  .cards-front, .cards-back {
    width: 69%;
  }
  .cards-front {
    top: 135px;
    left: 20px;
  }
  .cards-front-logo img {
    width: 20%;
  }
  .cards-front-number {
    bottom: 45px;
    left: 15px;
    font-size: 15px;
  }
  .cards-front-user {
    left: 15px;
    width: 85%;
  }
  .cards-front-user-name {
    font-size: 10px;
  }
  .cards-front-user-date {
    font-size: 10px;
  }
  .cards-back {
    top: 55px;
    left: 100px;
  }
  .cards-back-cvc {
    right: 37px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-width: 1440px;
  width: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

main {
  display: flex;
}

@media screen and (max-width: 1100px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}
.form-area {
  max-width: 400px;
}
.form-area div {
  margin-bottom: 15px;
}
.form-name, .form-number, .form-date-cvc {
  display: flex;
  flex-direction: column;
}
.form-name label, .form-number label, .form-date-cvc label {
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
}
.form-name input, .form-number input, .form-date-cvc input {
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #eee;
}
.form-name input:active, .form-name input:focus, .form-number input:active, .form-number input:focus, .form-date-cvc input:active, .form-date-cvc input:focus {
  outline-color: hsl(249deg, 99%, 64%) to hsl(278deg, 94%, 30%);
}
.form-name input::placeholder, .form-number input::placeholder, .form-date-cvc input::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.3;
}
.form-name input[type=text], .form-number input[type=text], .form-date-cvc input[type=text] {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: hsl(278deg, 68%, 11%);
}
.form-date-cvc {
  display: flex;
  flex-direction: row;
}
.form-date-cvc .date {
  margin-right: 20px;
}
.form-date-cvc .date input {
  width: 79px;
}
.form-confirm {
  display: none;
  text-align: center;
}
.form-confirm img {
  width: 15%;
  margin-bottom: 40px;
}
.form-confirm h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  letter-spacing: 3px;
}
.form-confirm p {
  font-size: 20px;
  margin-bottom: 50px;
  color: hsl(279deg, 6%, 55%);
}
.form .btn {
  width: 100%;
  color: #fff;
  font-size: 18px;
  background-color: hsl(278deg, 68%, 11%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .form {
    margin-left: 0;
  }
}
@media screen and (max-width: 430px) {
  .form-area {
    margin: 0 20px;
  }
  .form-date-cvc .date input {
    width: 76px;
  }
}

/*# sourceMappingURL=style.css.map */
